.footer{
    font-size: 24px;
    border-radius: 24px;
    box-shadow: 10px 10px black;
    background-color: steelblue;
    margin-inline: auto;
    width: 90%;
    height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
    padding: 2rem;

    p:first-of-type{
        height: min-content;
        background-color: burlywood;
        border-radius: 8px;
        box-shadow: 5px 5px black;
        padding: 1rem;
        line-height: .6em;
    }
    li,p{
        text-shadow: 2px 2px black;
    }

    img,div:first-of-type{
        height: 90%;
        width: 20%;
        box-shadow: 5px 5px black;
        border-radius: 12px;
        background-color: cornflowerblue;
    }
}